<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- css연결 -->   
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

 <!-- css연결 -->   
	    <link rel = "stylesheet" href ="/include/css/detailPageCss/quicketDetailPage.css">  
	    <script src="/include/js/detailPageJs/quicketDetailPage.js"></script>

</head>
		
		
		
    	    
<body>
	<!-- 우측아래 로고 -->
   	<!-- <img id="homeImage" src="/images/common/mainPageImage/homeIcon.png"/> -->
	
	
	<header>
		<div id="headerBox">
       	<img class="logo" id="logoSub" src="/images/common/mainPageImage/jinbeomLogoSub.png"/>
       	<div class="btn-group">
		    <button id="navBtn" class="btn-link btn dropdown-toggle" type="button" data-toggle="dropdown">
		    0. 프로젝트 소개
		    <span class="caret"></span>
		    </button>
		    <ul class="dropdown-menu">
				  <li><a class="dropdown-item active" href="/project/quicketDetailPage"aria-current="true">0. 프로젝트 소개</a></li>
				  <li><a class="dropdown-item" href="/project/quicketDetailPage-1">1. 프로젝트 기획서</a></li>
				  <li><a class="dropdown-item" href="/project/quicketDetailPage-2" >2. 요구사항 정의서</a></li>
				  <li><a class="dropdown-item" href="/project/quicketDetailPage-3" >3. 요구사항 명세서</a></li>
				  <li><a class="dropdown-item" href="/project/quicketDetailPage-4" >4. 유스케이스 다이어그램</a></li>
				  <li><a class="dropdown-item" href="/project/quicketDetailPage-5" >5. 개체 관계도(ERD)</a></li>
				  <li><a class="dropdown-item" href="/project/quicketDetailPage-6" >6. 시퀀스 다이어그램</a></li>
				  <li><a class="dropdown-item" href="/project/quicketDetailPage-7" >7. 스토리보드</a></li>
				  <li><a class="dropdown-item" href="/project/quicketDetailPage-8" >8. 테이블 명세서</a></li>
				  <li><a class="dropdown-item" href="/project/quicketDetailPage-9" >9. 논리적/물리적 모델링</a></li>
			</ul>
		</div>
        </div>
    </header>
    <div id = "Main" class="p0Main">
	    <h2>공연 예매 사이트 QUICKet</h2><br/><br/>
	    <p style="font-size:16px;">공연 예매 웹사이트 Quicket은 기존에 존재하는 예매 사이트를 모티브로 삼아 학습을 목적으로 만든 웹사이트입니다.</p><br/>
	    <span style="font-size:16px;color:red;">우측 상단에 메뉴를 통해 프로젝트 내용을 확인해보세요.</span>
	    <h3>- 목차</h3>
	    <p>1. 프로젝트 기획서</p>
	    <p>2. 요구사항 정의서</p>
	    <p>3. 요구사항 명세서서</p>
	    <p>4. 유스케이스 다이어그램</p>
	    <p>5. 개체 관계도(ERD)</p>
	    <p>6. 시퀀스 다이어그램</p>
	    <p>7. 스토리보드</p>
	    <p>8. 테이블 명세서</p>
	    <p>9. 논리적/물리적 모델링</p>
	    
	    <h3>- MEMBER</h3>
	    <table class="table table-bordered">
	    	<colgroup>
	    		<col width="5%"/>
	    		<col width="20%"/>
	    		<col width="5%"/>
	    	</colgroup>
	    	<thead>
			   <tr>
			      <th>이름</th>
			      <th>역할</th>
			      <th></th>
			   </tr>
			 </thead>
			 <tbody>
			   <tr>
			      <td>권진범</td>
			      <td>예매, 좌석, 결제 관리</td>
			      <td>Front, Back</td>
			   </tr>
			   <tr>
			   	  <td>임은재</td>
			   	  <td>마이페이지(찜, 예매, 쿠폰 내역), 1대1 문의, 통계 관리</td>
			   	  <td>Front, Back</td>
			   </tr>
			   <tr>
			   	  <td>이유빈</td>
			   	  <td>로그인, 아이디/비밀번호 찾기, 회원관리</td>
			   	  <td>Front, Back</td>
			   </tr>
			   <tr>
			   	  <td>김나정</td>
			   	  <td>기대평, QNA, 쿠폰</td>
			   	  <td>Front, Back</td>
			   </tr>
			   <tr>
			   	  <td>박영석</td>
			   	  <td>공연 관리</td>
			   	  <td>Front, Back</td>
			   </tr>
			   <tr>
			   	  <td>오명숙</td>
			   	  <td>공지, FAQ, 관람후기</td>
			   	  <td>Front, Back</td>
			   </tr>
			 </tbody> 
	    </table>
		
    </div>
    
    
</body>
</html>