<!DOCTYPE html>
	<html lang="en" xmlns:th="http://www.thymeleaf.org">
		<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
		<title>Jinbeom's Portfolio</title>

		<link rel="shortcut icon" href="/images/image/icon.png" />
		<link rel="apple-touch-icon" href="/images/icon.png" />
		
		<!--[if lt IE 9]>
		<script src="../js/html5shiv.js"></script>
		<![endif]-->
		<link rel="stylesheet" type="text/css" href="/include/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/include/dist/css/bootstrap-theme.min.css" />
		 
 		<!-- <link rel="stylesheet" type="text/css" href="/include/css/default.css" /> -->
		
		<script type="text/javascript" src="/include/js/jquery-3.6.2.min.js"></script>
		<script type="text/javascript" src="/include/js/common.js"></script>
		
		
		
		
		<!-- css연결 -->   
    	<link rel = "stylesheet" href ="/include/css/detailPageCss/quicketDetailPage.css">  	
    	    
	    </head>
<body>
	<!-- 우측아래 로고 -->
   	<!-- <img id="homeImage" src="/images/common/mainPageImage/homeIcon.png"/> -->
	
	
	<header>
		<div id="headerBox">
       	<img class="logo" id="logoSub" src="/images/common/mainPageImage/jinbeomLogo.png"/>
           <nav id="headerNav">
               <ul>
                   <li style="color:#5C5C5C;">Home</li>
                   <li>Me/Contact</li>
                   <li>Skills</li>
                   <li>Certificate/Awards</li>
                   <li>Projects</li>
               </ul>
           </nav>
        </div>
    </header>
    <div id = "Main">
    	<h3>구현 이미지</h3>
    	<hr/>
    	<h3>개발 기간</h3>
    	<hr/>
    	<h3>팀원 역할</h3>
    	<hr/>
    	<table>
	    	<tr>
	    		<td>이름</td>
	    		<td>역할</td>
	    	</tr>
	    	<!-- <tr>
	    		<td>권진범</td>
	    		<td>ㅇ</td>
	    	</tr>
	    	<tr>
	    		<td>박영석</td>
	    		<td>ㅇ</td>
	    	</tr>
	    	<tr>
	    		<td>이유빈</td>
	    		<td>ㅇ</td>
	    	</tr>
	    	<tr>
	    		<td>김나정</td>
	    		<td>ㅇ</td>
	    	</tr>
	    	<tr>
	    		<td>임은재</td>
	    		<td>ㅇ</td>
	    	</tr>
	    	<tr>
	    		<td>오명숙</td>
	    		<td>ㅇ</td>
	    	</tr> -->
    	</table>
    </div>
    <script src="/include/js/detailPageJs/quicketDetailPage.js"></script>
</body>
</html>